@charset "UTF-8";
/*------------VARIABLES---------------*/
/*----------------MAPAS----------*/
/*-----------MIXIN CON PARÁMETROS--------------*/
/*----------HEADER------------------*/
.bg-naranja {
  background-color: #fb8500; }

/*-----------NAVBAR------------*/
.btn-busqueda {
  border-color: #219ebc;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #219ebc;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s; }
  .btn-busqueda:hover {
    color: #219ebc;
    background-color: white;
    border-color: white; }

.nav-links {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

.navbar-desplegable {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out; }

@media (min-width: 1200px) {
  .navbar-desplegable {
    display: none; }
  .nabvar-toggler-icon {
    display: none; } }

/*-----------------CONTENIDO-----------*/
.contenedorFlex {
  display: flex;
  flex-direction: column; }

.section__contenido h4 {
  font-size: 1.5rem;
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 2rem; }

.section__imagenes {
  margin: 2.5rem; }
  .section__imagenes img {
    width: 100%;
    height: auto; }
    .section__imagenes img:hover {
      transform: scale(1.1); }

/*-----------------INDEX-----------*/
.titulo--index, .tienda__titulo, .turnos--titulo {
  transition: background-color .5s; }
  .titulo--index:hover, .tienda__titulo:hover, .turnos--titulo:hover {
    background-color: black;
    color: white; }

/*------------------CONTACTO-------------------*/
.section__formulario {
  margin-bottom: 1rem; }
  .section__formulario .formInput {
    border: 1px solid #ced4da; }
    .section__formulario .formInput:hover {
      border-color: black; }

.contacto__texto {
  padding-top: 1rem;
  margin-left: 1rem; }

.formInput {
  border: 1px solid #ced4da; }
  .formInput:hover {
    border-color: black; }

/*-------------------NOSOTROS----------------------*/
.contenedor__imagenes {
  display: flex;
  align-items: flex-end;
  flex-direction: column; }
  .contenedor__imagenes .section__descripcion {
    background-color: #219ebc;
    padding-top: 2rem; }

.container__carousel {
  padding-top: 2rem; }

.img__carousel {
  padding-left: 6.5rem; }

.carousel-captions {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: black;
  text-align: center; }

/*-----------------------TIENDA-----------------------*/
.tienda__titulo h4 {
  font-size: 1rem;
  color: black; }

.contenedor__tienda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "fotoUno" "fotoDos" "fotoTres" "fotoCuatro" "fotoCinco" "fotoSeis"; }

.imgTiendaUno {
  grid-area: fotoUno; }

.imgTiendaDos {
  grid-area: fotoDos; }

.imgTiendaTres {
  grid-area: fotoTres; }

.imgTiendaCuatro {
  grid-area: fotoCuatro; }

.imgTiendaCinco {
  grid-area: fotoCinco; }

.imgTiendaSeis {
  grid-area: fotoSeis; }

/*------------------TURNOS----------------*/
.turnos__titulo h4 {
  font-size: 1.5rem;
  text-align: center;
  color: black; }

.contenedorTurnos {
  margin-bottom: 2rem; }

.turnosLabel {
  text-transform: uppercase; }

.contenedorBtn {
  margin-bottom: 2rem; }
  .contenedorBtn .btn-turnos {
    border-color: #219ebc;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #219ebc;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s; }
    .contenedorBtn .btn-turnos:hover {
      color: #219ebc;
      background-color: white;
      border-color: white; }

/*------------------------FOOTER---------------*/
.footer {
  background-color: #fb8500;
  color: white; }
  .footer h3 {
    color: white;
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem; }

.footer--tamaño {
  font-size: 0.9rem; }

.footer__pie {
  display: none; }

.nav-links--footer, .nav-links {
  color: white; }
  .nav-links--footer:hover, .nav-links:hover {
    background-color: white;
    color: #219ebc;
    border-color: white; }

/*TABLETAS*/
@media (min-width: 768px) {
  .header__logo {
    padding: 1rem; }
  .contenedorFlex {
    flex-direction: row; }
  .contenedor__imagenes {
    flex-direction: row; }
  .header__navbar a {
    font-size: 1.5rem; }
  .footer {
    font-size: 1.2rem; }
    .footer h3 {
      font-size: 1.2rem;
      padding-bottom: 2rem;
      margin-left: 5rem; }
  .contenedorFooter {
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .img__carousel {
    padding-left: 11rem; }
  .footer__redes {
    margin-bottom: 2rem; } }

/*DESKTOP*/
@media (min-width: 1200px) {
  .header__logo {
    width: 8rem; }
  .section__contenido h4 {
    font-size: 1.7rem;
    padding: 2rem; }
  .contenedor__imagenes {
    flex-direction: row; }
  .tienda__titulo h4 {
    font-size: 2rem; }
  .contenedor__tienda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fotoUno fotoDos fotoTres" "fotoCuatro fotoCinco fotoSeis";
    align-items: start; }
  .imgTiendaUno {
    grid-area: fotoUno; }
  .imgTiendaDos {
    grid-area: fotoDos; }
  .imgTiendaTres {
    grid-area: fotoTres; }
  .imgTiendaCuatro {
    grid-area: fotoCuatro; }
  .imgTiendaCinco {
    grid-area: fotoCinco; }
  .imgTiendaSeis {
    grid-area: fotoSeis; }
  .turnos__titulo h4 {
    font-size: 2rem; }
  .img__carousel {
    padding-left: 15rem; }
  .footer {
    font-size: 1.5rem; }
  .contenedorFooter {
    justify-content: space-evenly; } }
