/*-----------NAVBAR------------*/

.btn-busqueda {
  border-color: $color-celeste;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: $color-celeste;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s;
  &:hover {
    color: $color-celeste;
    background-color: white;
    border-color: white;
  }
}

.nav-links {
  @extend .nav-links--footer;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.navbar-desplegable {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

@media (min-width: 1200px) {
  .navbar-desplegable {
    display: none;
  }
  .nabvar-toggler-icon {
    display: none;
  }
}
