*{
    margin: 0px;
    padding: 0px;
}

/*----------BODY    ------------*/
body{
    font-family: 'Roboto', sans-serif;
}
#grilla__index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "section section section"
    "footer footer footer";

}

header{
    grid-area: header;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

/*----------HEADER----------*/
.bg-naranja{
    background-color: #fb8500;
}

/*-----------NAVBAR------------*/

.btn-busqueda {
    border-color: #219ebc;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #219ebc;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s
    }

    .btn-busqueda:hover {
        color:#219ebc ;
        background-color: white;
        border-color: white;
}

.nav-links {
    display: inline-block;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-links:hover{
    background-color: white;
    color: #219ebc;
    border-color: white;
}

/*-----------------CONTENIDO-----------*/

    .contenedorFlex{
        display: flex; 
        flex-direction: column;
        }

.section__contenido h4{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 2rem;
}

.section__imagenes img{
    width: 100%;
    height: auto;
}

.section__imagenes img:hover{
    transform: scale(1.1);
}

.section__imagenes{
    margin: 2.5rem;
    
}
/*-----------------INDEX-----------*/
.titulo--index {
    transition: background-color .5s;
}
.titulo--index:hover{
    background-color: black;
    color: white;
}

    /*------------------CONTACTO-------------------*/
.section__formulario{
        margin: 2rem;
        background-color: #219ebc;
    }

    .contacto__texto{
        padding-top: 1rem;
        margin-left: 1rem;
    }
    

    /*-------------------NOSOTROS----------------------*/



    #grilla__nosotros{
        display: grid;
        grid-template-areas: 
        "header header header"
        "section section section"
        "footer footer footer"; 


}

.header{
    grid-area: header;

}

.section__nosotros{
    grid-area: section;
    
}

.footer{
    grid-area: footer;
}


.contenedor__imagenes{
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

.section__descripcion{
    background-color: #219ebc;
    padding-top: 2rem;

    }

.container__carousel{
    padding-top: 2rem;
}

.img__carousel{
    padding-left: 6.5rem;
}
.carousel-captions {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: black;
    text-align: center;
}


/*-----------------------TIENDA-----------------------*/
.tienda__titulo h4{
    font-size: 1rem;
}



.contenedor__tienda{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
}

/*------------------TURNOS----------------*/
.turnos__titulo h4{
    font-size: 1rem;
    color: black;
}

.turnos--titulo {
    transition: background-color .5s;
}
.turnos--titulo:hover{
    background-color: black;
    color: white;
}


    /*------------------------FOOTER---------------*/
.footer{
        background-color:#fb8500 ; 
        color: white;
        
        
    }
.footer h3{
    color: white;
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    
}

.footer--tamaño{
    font-size: 0.9rem;
}

.footer__pie{
    display: none;
}
.nav-links--footer{
    color: white;
}

.nav-links--footer:hover{
    background-color: white;
    color: #219ebc;
    border-color: white;
}




/*TABLETAS*/
@media (min-width: 768px){
    .contenedor__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header__logo{
        padding: 1rem;
    }
.contenedorFlex{
    flex-direction: row;

}

.contenedor__imagenes{
    flex-direction: row;
}
.header__navbar a {
    font-size: 1.5rem;
    }

.footer{
    font-size: 1.2rem;
}    

.footer h3{
    font-size: 1.2rem;
    padding-bottom: 2rem;
    margin-left: 5rem;
} 
.contenedorFooter{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.img__carousel{
    padding-left: 11rem;
}
.footer__redes{
    margin-bottom: 2rem;
}



}

/*DESKTOP*/
@media(min-width: 1200px){
    .header__logo{
        width: 8rem;
    }


    .section__contenido h4{
        font-size: 1.7rem;
        padding: 2rem;
    }

    .contenedor__imagenes{
        flex-direction: row;
    }

.tienda__titulo h4{
    font-size: 2rem;

}


.contenedor__tienda{
    flex-wrap: nowrap;
    align-items: flex-start;
}

.turnos__titulo h4{
    font-size: 2rem;

}

.img__carousel{
    padding-left: 15rem;
}
    


    .footer{
        font-size: 1.5rem;
    }
    
    .contenedorFooter{
        justify-content: space-evenly;
    }
}